[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
jupyterlab = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
sklearn = "*"
altair = "*"
statsmodels = "*"
bokeh = "*"
plotly = "*"
